<?xml version="1.0"?>
<config>
    <modules>
        <SSTech_Productsale>
            <version>1.0.0</version>
        </SSTech_Productsale>
    </modules>
    <global>
      <helpers>
        <sstech_productsale>
          <class>SSTech_Productsale_Helper</class>
        </sstech_productsale>
      </helpers>
      <blocks>
        <sstech_productsale>
          <class>SSTech_Productsale_Block</class>
        </sstech_productsale>
      </blocks>
      <models>
        <sstech_productsale>
          <class>SSTech_Productsale_Model</class>
        </sstech_productsale>
      </models>
    </global>
	<frontend>
      <layout>
        <updates>
          <sstech_productsale>
            <file>sstech/productsale.xml</file>
          </sstech_productsale>
        </updates>
      </layout>
      <routers>
        <sstech_productsale>
          <use>standard</use>
          <args>
            <module>SSTech_Productsale</module>
            <frontName>productsale</frontName>
          </args>
        </sstech_productsale>
      </routers>
    </frontend>
	<default>
        <sstech_productsale>
            <general>
                <is_enabled>1</is_enabled>
            </general>
        </sstech_productsale>
    </default>
</config>